
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Docente</h2>
<label>Ingrese modalidad contrato</label>
<select id="cboTipoModalidad"></select>

<div id="tabla">

</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Docente.js"></script>
<script src="~/Scripts/datatables.min.js"></script>