
@{
    ViewBag.Title = "Index";
}

<h2>Repaso</h2>

<label>Este es un label</label>
<input type="text" id="txtnro1"/>
<label>Este es un label</label>
<input type="text" id="txtnro2" />
<input type="button" value="Sumar" id="btnSumar" />
<input type="button" value="Limpiar" id="btnLimpiar" />

<label id="lblRespuesta"></label>

<script src="~/Scripts/sumar.js"></script>