
@{
    ViewBag.Title = "Tabla";
}

<h2>Tabla</h2>

@*<table>*@
<table class="table"> @*Con bootstrap*@
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jorge</td>
            <td>Izaguirre</td>
            <td>Arredondo</td>
        </tr>
        <tr>
            <td>Lucho</td>
            <td>Gonzalez</td>
            <td>Perez</td>
        </tr>
    </tbody>
</table>