
@{
    ViewBag.Title = "TablaJS";
}

@*https://www.udemy.com/course/c-aspnet-mvc-ajax-json-boostrap-javascript/learn/lecture/15486398#overview*@

<h2>TablaJS</h2>

<div id="divTabla">

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/tabla.js"></script>

